@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ThinItalic.woff2') format('woff2'),
        url('BeVietnamPro-ThinItalic.woff') format('woff'),
        url('BeVietnamPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-SemiBold.woff2') format('woff2'),
        url('BeVietnamPro-SemiBold.woff') format('woff'),
        url('BeVietnamPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Regular.woff2') format('woff2'),
        url('BeVietnamPro-Regular.woff') format('woff'),
        url('BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-SemiBoldItalic.woff2') format('woff2'),
        url('BeVietnamPro-SemiBoldItalic.woff') format('woff'),
        url('BeVietnamPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-MediumItalic.woff2') format('woff2'),
        url('BeVietnamPro-MediumItalic.woff') format('woff'),
        url('BeVietnamPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Thin.woff2') format('woff2'),
        url('BeVietnamPro-Thin.woff') format('woff'),
        url('BeVietnamPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-BlackItalic.woff2') format('woff2'),
        url('BeVietnamPro-BlackItalic.woff') format('woff'),
        url('BeVietnamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-BoldItalic.woff2') format('woff2'),
        url('BeVietnamPro-BoldItalic.woff') format('woff'),
        url('BeVietnamPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ExtraBold.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBold.woff') format('woff'),
        url('BeVietnamPro-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Bold.woff2') format('woff2'),
        url('BeVietnamPro-Bold.woff') format('woff'),
        url('BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Black.woff2') format('woff2'),
        url('BeVietnamPro-Black.woff') format('woff'),
        url('BeVietnamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ExtraLightItalic.woff2') format('woff2'),
        url('BeVietnamPro-ExtraLightItalic.woff') format('woff'),
        url('BeVietnamPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ExtraBoldItalic.woff2') format('woff2'),
        url('BeVietnamPro-ExtraBoldItalic.woff') format('woff'),
        url('BeVietnamPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-ExtraLight.woff2') format('woff2'),
        url('BeVietnamPro-ExtraLight.woff') format('woff'),
        url('BeVietnamPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Italic.woff2') format('woff2'),
        url('BeVietnamPro-Italic.woff') format('woff'),
        url('BeVietnamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Light.woff2') format('woff2'),
        url('BeVietnamPro-Light.woff') format('woff'),
        url('BeVietnamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-LightItalic.woff2') format('woff2'),
        url('BeVietnamPro-LightItalic.woff') format('woff'),
        url('BeVietnamPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('BeVietnamPro-Medium.woff2') format('woff2'),
        url('BeVietnamPro-Medium.woff') format('woff'),
        url('BeVietnamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

